@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --secondary-enabled-text: #202020;
  --background-elevation-01:#fff;
  --background-elevation-02: #edeae4;
  --background-elevation-03:#CDC5C3;
  --theme-color: #A4046E;
  --buttons-primary: #A4046E;
  --text-default-color:#4A4848;
  --paragraph-taxt-color:#6A6868;
  --input-border:#CDCDCD;
  --xs:8px;
  --regular:16px;
  --large:32px
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-enabled-text);
}
p {
  font-size: 13.154px;
font-weight: 400;
line-height: normal;
color: var(--paragraph-taxt-color);
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: var(--secondary-enabled-text);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-enabled-text);
  line-height: normal;
}
h1{
  font-size: 86px;
font-style: normal;
font-weight: 400;
}
h2 {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0px;
  line-height: 64px;
}
h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 24px;
}
h4{
  font-size: 24px;
font-weight: 400;
}
.gray-color{
  color: var(--paragraph-taxt-color);
}
/* heading */
.sub-heading-sec{
  font-size: 20px;
  font-weight: 400;
  max-width: 470px;
}
.sub-heading-break {
  display: block;
}
.heading-sec {
  margin-bottom: 16px;
}
.sub-heading-sec span.font-diff{
  color: var(--paragraph-taxt-color);
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: italic;
}
/*  info heading */
.info-heading {
  font-size: 52.617px;
  line-height: normal;
  font-weight: 400;
  margin-bottom: 30px;
}
.info-heading-font {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
  line-height: 59px;
    display: block;
}
.info-sub-heading{
  font-size: 16.443px;
  line-height: normal;
font-weight: 400;
margin-bottom: 32px;
}
/* end */
/* end */
.btn-primary{
  background: var(--buttons-primary);
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  padding: var(--xs) var(--regular);
}
.btn-primary img,a .btn-primary img{
  transition: all ease 0.4s;
  left:0px;
  position: relative;
}

.btn-primary:hover img,a .btn-primary:hover img{
  left:6px;
}
a.btn-primary{
  color: #fff;
  padding: var(--xs) var(--regular);
}
input{
  border: none;
  border-bottom: 1px solid var(--input-border);
  background: var(--background-elevation-01);
  display: flex;
  height: 44px;
  padding: 14px 16px;
  align-items: center;
  width: 100%;
  gap: 10px;
  align-self: stretch;
  box-shadow: none;
}
.white-color{
  color: #fff;
}
.white-color a{
  color: #fff;
}
/* media query css */
@media (min-width: 1400px) {
  .container {
    max-width: 1130px;
  }
}
