
.footer {
  background: var(--background-elevation-02);
  padding-top: 46px;
}
.footer .container {
    max-width: 1096px;
}
.footer-top {
    border-bottom: 1px solid #767572;
    padding-left:35px;
    padding-bottom: 63px;
}
.footer-logo-icon{
    margin-bottom: 9px;
}
.footer-logo-web img {
    width: 93.314px;
}
.footer-heading {
  margin-bottom: 12px;
  color: var(--secondary-enabled-text);
  font-size: 16px;
  font-weight: 600;
}
.footer-menu ul li {
    margin-bottom: 12px;
}
.footer-menu ul li a {
    color: var(--secondary-enabled-text);
    padding: 3px 0px;
    font-weight: 300;
}
.footer-bottom {
    padding: 9px 35px 13px;
}
.company-info-sec {
    max-width: 410px;
}
.company-info-icon {
    margin-right: 12px;
}
.social-icons{
    margin-top: 10px;
}
.social-icons a {
    padding: 0px 8px;
}
.social-icons a:last-child{
    padding-right: 0;
}
.company-info-sec ul li{
    padding-bottom: 4px;
}
.company-info-bar {
    font-size: 16px;
    font-weight: 600;
}
.company-info-bar a{
    color: var(--secondary-enabled-text);
    font-size: 16px;
    line-height: 15px;
    font-weight: 600;
}
.company-info-bar a{
    text-decoration: underline;
}