.design-inspiration{
    background: var(--background-elevation-03);
    padding: 200px 0px;
    margin-top: 54px;
}
.logo-container-box {
    border-radius: 20px;
    background:var(--background-elevation-01);
    height: 100px;
    margin-bottom: 20px;
}
.logo-container-inspiration{
    padding: 40px 0px;
}
.design-library {
    margin-top: 80px;
    border: 8.368px solid var(--secondary-enabled-text);
    border-radius: 16.736px;
    background: var(--background-elevation-02);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.design-library-right {
    display: flex;
    padding: 0 113px;
    flex-direction: column;
    justify-content: center;
}
.design-ins-button {
    margin-top: 40px;
    text-align: end;
}
.design-ins-button a {
    font-size: 16px;
    font-style: normal;
    align-items: center;
    display: inline-flex;
    gap: 6.73px;
    font-weight: 600;
    line-height: 110%;
    text-decoration-line: underline;
}

.heart-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    cursor: pointer;
}
.cr-image {
    position: relative;
    margin-bottom: 18px;
}
.cr-image.sec {
    margin: 0;
}
.owl-carousel.owl-theme .owl-nav button.owl-prev, .owl-carousel.owl-theme .owl-nav button.owl-next, .owl-carousel.owl-theme button.owl-dot {
    width: 47px;
    height: 47px;
    background:var(--theme-color);
    border-radius: 100%;
    color: #fff;
    font-size: 31px;
}
.owl-carousel.owl-theme .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
    top:45%;
    transform: rotate(180deg);
}
.owl-carousel.owl-theme .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    top:45%;
}
.owl-carousel.owl-theme  .owl-nav {
    margin-top: 0;
 
}
.design-inspiration .owl-dots {
    display: none;
}
.heart-icon path {
    fill: #fff;
    fill-opacity: 1;
    stroke: #fff;
}


.modal-dialog {
    max-width: 724px;
}
  
.modal-content{
    padding: 44px;
    border-radius: 20px;
    border: 1px solid var(--strokes-elevation-03, #6A6868);
    background: var(--background-elevation-02, #EDEAE4);
    
    /* Shadow / Small */
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
    }
.cross-btn{
    position: absolute;
    right: 35px;
    top: 35px;
}