.interrior-design {
    padding-top: 180px;
}
.interrior-design .heading-sec {
    margin-bottom: 16px;
    max-width: 800px;
}
.video-section{
    margin-top: 12px;
}
.video-section .heading-sec {
    max-width: 763px;
}