.love-space-design{
    padding: 96px 0px;
}
.love-space-design .btn-primary{
    margin-top: 24px;
}
.love-space-design .heading-sec{
    max-width: 470px;
}
.love-space-design .sub-heading-sec {
    max-width: 750px;
}
.love-space-design .video-section {
    margin-top: 25px;
}